<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Masses Sliding Down Ramps</title>
    <link rel="stylesheet" href="../../static/portal.css">
</head>
<body class="greyBackground">
    <div>
       <iframe id="googleSlide" src="https://docs.google.com/a/schulerprogram.org/presentation/d/e/2PACX-1vTPXFFl9UYbNYjZuv7sIMTGE1vJl9JVbIhNy1n3fLN3ffU3hxnjK9hp1jy5dWZlmnUW8KrGaBfSTQDP/embed?start=false&loop=false&delayms=60000" frameborder="0" width="800" height="479" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
       </iframe>
    </div>
</body>
</html>