<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vectors in 2D</title>
    <link rel="stylesheet" href="../../static/portal.css">
</head>
<body class="greyBackground">
    <div>
        <iframe id="googleSlide" src="https://docs.google.com/a/schulerprogram.org/presentation/d/e/2PACX-1vSnhRNnZMIaro_NpSeFmKl2zXuxkEJufP4ZR5yHjrvGoOhCCKr0sVG4nrkCym1OBYBCMo9WLXtLswF5/embed?start=false&loop=false&delayms=60000" frameborder="0" width="800" height="479" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>    
    </div>
</body>
</html>