<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Work</title>
    <link rel="stylesheet" href="../../static/portal.css">
</head>
<body class="greyBackground">
    <div>
        <iframe id="googleSlide" src="https://docs.google.com/a/schulerprogram.org/presentation/d/e/2PACX-1vToPW2A4w98SYEGtAfFm9-M8Ct75Um_zxjyunlFo4c-qU5BG5OBw8iwEWy1U1_GPH8DDIH720d-VLNR/embed?start=false&loop=false&delayms=60000" frameborder="0" width="800" height="479" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>   
    </div>
</body>
</html>