<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Moles and Avogadro's Number</title>
    <link rel="stylesheet" href="../../static/portal.css">
</head>
<body class="greyBackground">
    <div>
        <iframe id="googleSlide" src="https://docs.google.com/a/schulerprogram.org/presentation/d/e/2PACX-1vQWp1yqMp92QAqBoE_v0hKgjkfIIuuDqfbcf9oY8NPErLkSim6p12WKQDRo6rle6TbrpTM_segpvzSd/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</body>
</html>