<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Naming Ions</title>
    <link rel="stylesheet" href="../../static/portal.css">
</head>
<body class="greyBackground">
    <div>
        <iframe id="googleSlide" src="https://docs.google.com/a/schulerprogram.org/presentation/d/e/2PACX-1vQAiwZdRMsK_gk2cb8gd4N4tgAVLk5gUO7w6jAAGXejea-CrQeAv9p_NdIxx5CPsToSpu6U0buRA924/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</body>
</html>