<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Percent Yield and Theoretical Yield</title>
    <link rel="stylesheet" href="../../static/portal.css">
</head>
<body class="greyBackground">
    <div>
        <iframe id="googleSlide" src="https://docs.google.com/a/schulerprogram.org/presentation/d/e/2PACX-1vTgTr7cOV5O9Z8EP3-C3SB8is6O4vDeD1w1kJ7GLoMMfLeEMovr9gjwjLP8OjOgSlwGjmcQkWgbAz4q/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</body>
</html>