<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chemistry Portal Page</title>
        <link rel="stylesheet" href="../static/portal.css">
        <link rel="stylesheet" href="../animsition/dist/css/animsition.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../static/scripts/smoothScroll.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="../animsition/dist/js/animsition.min.js"></script>
        <script src="../static/scripts/animsition.js"></script>
        <link rel="shortcut icon" type="image/png" href="../static/images/schulerLogo.png">
    </head>
    <body class="greyBackground animsition">
        <div class="icon-bar">
            <a class="animsition-link" href="../index.html"><img class="homeToolBar" src="../static/images/schulerLogoBox.png"></a>
            <a class="toolBarLink animsition-link indent60px" href="../templates/PhysicsPortal.html"><img class="iconToolBar" src="../static/images/physics.png"></a>
            <a class="animsition-link" href="../templates/MathPortal.html"><img class="iconToolBar" src="../static/images/math.png"></a>
            <a class="animsition-link" href="../templates/ChemistryPortal.html"><img class="iconToolBar" src="../static/images/chemistry_alt.png"></a>
        </div>
        <div class="greyBackground floatLeft">
            <br><br>
            <div class="vertical-menu-chem floatLeft colHeight" id="navbar">
                <a href="#scientificThinking">Scientific Thinking</a>
                <a href="#measurement">Measurement</a>
                <a href="#numbersFormat">Numbers and Format</a>
                <a href="#matter">Why it "Matters"?</a>
                <a href="#physChem">Physical vs. Chemical</a>
                <a href="#perTable">Periodic Table</a>
                <a href="#valenceElectrons">Valence Electrons</a>
                <a href="#atoms">Atoms</a>
                <a href="#molecules">Molecules</a>
                <a href="#nomanclature">Nomenclature</a>
                <a href="#molesMass">Moles, Mass, and Yield</a>
                <a href="#formuals">Formulas</a>
                <a href="#chemEquations">Chemical Equations</a>
                <a href="#stoich">Stoichiometry</a>
                <a href="#bonds">Types of Bonds</a>
                <a href="#modeling">Modeling the Bonds</a>
                <a href="#vsepr">VSEPR</a>
                <a href="#radio">Radioactivity</a>
            </div>
        </div>
        <div class="courseDiv">
            <br>
            <div id="scientificThinking">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Scientific Theory</h1><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/ScientificThinking.html" target="_blank">Scientific Thinking</a>
            </div>
            <br>
            <div id="measurement">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Measurement</h1><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/ScientificThinking.html" target="_blank">Measurement</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/SISystem.html" target="_blank">SI System</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/MetricSystem.html" target="_blank">The Metric System</a>
            </div>
            <br>
            <div id="scientificThinking">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Numbers and Format</h1><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/PreciseAccurate.html" target="_blank">Precise vs Accurate</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/SigFigs.html" target="_blank">Significant Figures</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/PercentError.html" target="_blank">Percent Error</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/ScientificNotation.html" target="_blank">Scientific Notation</a>
            </div>
            <br>
            <div id="matter">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Why it "Matters"?</h1><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/ElementsCompounds.html" target="_blank">Elements and Compounds</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/ClassificationMatter.html" target="_blank">Classification of Matter</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/PhysicalChemical.html" target="_blank">Physical and Chemical</a>
            </div>
            <br>
            <div id="perTable">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Periodic Table</h1>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/PerTable.html" target="_blank">Periodic Table</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/Groups.html" target="_blank">Groups</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/Trends.html" target="_blank">Trends</a>
            </div>
            <br>
            <div id="valenceElectrons">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Valence Electrons</h1><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/VEMain.html" target="_blank">Valence Electrons - Main Groups</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/VEMetals.html" target="_blank">Valence Electrons - Transition Metals</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/ElectronConfig.html" target="_blank">Electron Configuration</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/Bonding.html" target="_blank">Bonding</a>
            </div>
            <br>
            <div id="atoms">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Atoms</h1>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/IntroAtom.html" target="_blank">Introduction to Atoms</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/AtomicStructure.html" target="_blank">Atomic Structure</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/AtomicWeightMass.html" target="_blank">Atomic Weight and Mass</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/Isotopes.html" target="_blank">Isotopes</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/AtomPractice.html" target="_blank">Atoms - Practice Problems</a>
            </div>
            <br>
            <div id="molecules">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Molecules</h1>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/NuclideSymbols.html" target="_blank">Nuclide Symbols</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/Molecules.html" target="_blank">Molecules</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/Ions.html" target="_blank">Ions</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/MakingDistinctions.html" target="_blank">Making Distinctions</a>
            </div>
            <br>
            <div id="nomanclature">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Nomenclature</h1>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/NamingIons.html" target="_blank">Naming Ions</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/NamingIonicCompounds.html" target="_blank">Naming Ionic Compounds</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/NamingIonsI.html" target="_blank">Naming Type I compounds</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/NamingCMC.html" target="_blank">Naming Covalent Molecular Compounds</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/NamingICTM.html" target="_blank">Naming Ionic Compounds with Transition Metals</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/NamingTypeII.html" target="_blank">Naming Type II compounds</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/NamingTypeIII.html" target="_blank">Naming Type III compounds</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/NamingBICTMPI.html" target="_blank">Naming Binary Ionic Compounds w/Transition Metals and Polyatomic Ions</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/NamingTypeIV.html" target="_blank">Naming Type IV compounds</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/NamingAcids.html" target="_blank">Naming Acids</a>
            </div>
            <br>
            <div id="molesMass">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Moles, Mass, and Yield</h1>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/MolesAvoNum.html" target="_blank">Moles and Avogadro's Number</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/PercentCompMass.html" target="_blank">% Composition by Mass</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/MolarMassConv.html" target="_blank">Molar Mass and Conversions</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/ReactingMass.html" target="_blank">Reacting Mass</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/Yields.html" target="_blank">Percent Yield and Theoretical Yield</a>
            </div>
            <br>
            <div id="formuals">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Formulas</h1>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/MolecularFormulas.html" target="_blank">Molecular Formuals</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/MolecularPractice.html" target="_blank">Molecular Formulas - Practice Problems</a>
            </div>
            <br>
            <div id="chemEquations">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Chemical Equations</h1>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/BalancingEquations.html" target="_blank">Balancing Equations</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/BalancingEquationsCont.html" target="_blank">Balancing Equations Continued</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/MoleRatios.html" target="_blank">Mole Ratios</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/ClassifyingReactionTypes.html" target="_blank">Classifying Reaction Types</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/PredictingProduct.html" target="_blank">Predicting the Product</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/NetIonicEq.html" target="_blank">Net Ionic Equation</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/EqConst.html" target="_blank">Equilibrium Constant</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/PredictingMiscibility.html" target="_blank">Predicting Miscibility</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/PredictingSolubility.html" target="_blank">Predicting Solubility</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/LimitingReactant.html" target="_blank">Limiting Reactant</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/RedoxReactions.html" target="_blank">Redox Reactions</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/AcidsBases.html" target="_blank">Acids and Bases - Calculating pH and pOH</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/AcidsBasesII.html" target="_blank">Acids and Bases - Titration Calculations</a>
            </div>
            <br>
            <div id="stoich">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Stoichiometry</h1>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/Stoich.html" target="_blank">Stoichiometry</a>
            </div>
            <br>
            <div id="bonds">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Types of Bonds</h1>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/TypesBonds.html" target="_blank">Types of Bonds</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/TypesBondsII.html" target="_blank">Types of Bonds Continued</a>
            </div>
            <br>
            <div id="modeling">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Modeling the Bonds</h1>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/Lewis.html" target="_blank">Lewis Dot Structures</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/LewisPractice.html" target="_blank">Lewis Dot Structures - Practice Problems</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/ElectronDot.html" target="_blank">Electron Dot Diagrams</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/Resonance.html" target="_blank">Resonance</a>
            </div>
            <br>
            <div id="vsepr">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">VSEPR</h1>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/VSEPR.html" target="_blank">Introduction to VSEPR</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/2Electron.html" target="_blank">2 Electron Cloud</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/3Electron.html" target="_blank">3 Electron Cloud</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/4Electron.html" target="_blank">4 Electron Cloud</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/5Electron.html" target="_blank">5 Electron Cloud</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/6Electron.html" target="_blank">6 Electron Cloud</a>
            </div>
            <br>
            <div id="radio">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Radioactivity</h1>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/IntroRad.html" target="_blank">Introduction to Radioactivity</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/FissionFusion.html" target="_blank">Fission and Fusion</a>
                <br><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="ChemTopics/ABG.html" target="_blank">Alpha, Beta, and Gamma Decay</a>
            </div>
        </div>
    </div>
</body>
<div class="footer">
    <br><p class="standardText whiteText">© 2019 SCHULER SCHOLAR PROGRAM</p>
</div>
<script src="../static/scripts/stickyNavBar.js"></script>
</html>