<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="../static/images/schulerLogo.png">
        <title>Math Portal Page</title>
        <link rel="stylesheet" href="../static/portal.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../static/scripts/smoothScroll.js"></script>
        <link rel="stylesheet" href="../animsition/dist/css/animsition.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="../animsition/dist/js/animsition.min.js"></script>
        <script src="../static/scripts/animsition.js"></script>
    </head>
    <body class="greyBackground animsition">
        <div class="icon-bar">
            <a class="animsition-link" href="../index.html"><img class="homeToolBar" src="../static/images/schulerLogoBox.png"></a>
            <a class="toolBarLink animsition-link indent60px" href="../templates/PhysicsPortal.html"><img class="iconToolBar" src="../static/images/physics.png"></a>
            <a class="animsition-link" href="../templates/MathPortal.html"><img class="iconToolBar" src="../static/images/math_alt.png"></a>
            <a class="animsition-link" href="../templates/ChemistryPortal.html"><img class="iconToolBar" src="../static/images/chemistry.png"></a>
        </div>
        <br><br><br>
        <div class="greyBackground colHeight floatLeft">
            <div class="vertical-menu-math floatLeft" id="navbar">
               <br>
                <a href="#algebra1">Algebra1</a>
                <a href="#geometry">Geometry</a>
                <a href="#algebra2Trigonometry">Algebra 2 / Trigonometry</a>
                <a href="#preCalculus">Pre-Calculus</a>
                <a href="#calculusAB">Calculus AB</a>
                <a href="#calculusBC">Calculus BC</a>
            </div>
        </div>
        <div class="courseDiv">
            <div id="algebra1">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Algebra 1</h1>
                <img class="courseLogo" src="../static/images/course_logos/algebra1.png"><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-1/discovering-expressions,-equations-and-functions" target="_blank">Expressions, Equations, and Functions</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-1/exploring-real-numbers" target="_blank">Real Numbers</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-1/how-to-solve-linear-equations" target="_blank">Solving Linear Equations</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-1/visualizing-linear-functions" target="_blank">Visualizing Linear Functions</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-1/formulating-linear-equations" target="_blank">Formulating Linear Equations</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-1/linear-inequalitites" target="_blank">Linear Inequalities</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-1/systems-of-linear-equations-and-inequalities" target="_blank">Systems of Linear Equations and Inequalities</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-1/exponents-and-exponential-functions" target="_blank">Exponents and Exponential Functions</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-1/factoring-and-polynomials" target="_blank">Factoring Polynomials</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-1/quadratic-equations" target="_blank">Quadratic Equations</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-1/radical-expressions" target="_blank">Radical Expressions</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-1/rational-expressions" target="_blank">Rational Expressions</a>
                <br>
                <br>
            </div>
            <br>
            <div id="geometry">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Geometry</h1>
                <img class="courseLogo" src="../static/images/course_logos/geometry.png"><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/geometry/points,-lines,-planes-and-angles" target="_blank">Points, Lines, Planes, and Angles</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/geometry/proof" target="_blank">Proofs</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/geometry/perpendicular-and-parallel" target="_blank">Perpendicular and Parallel</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/geometry/triangles" target="_blank">Triangles</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/geometry/similarity" target="_blank">Similarity</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/geometry/right-triangles-and-trigonometry" target="_blank">Rigt Triangles and Trigonometry</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/geometry/quadrilaterals" target="_blank">Quadrilaterals</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/geometry/transformations" target="_blank">Transformations</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/geometry/circles" target="_blank">Circles and Inscribed Polygons</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/geometry/area" target="_blank">Area and Volume</a>
                <br>
                <br>
            </div>
            <br>
            <div id="algebra2Trigonometry">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Algebra 2 / Trigonometry</h1>
                <img class="courseLogo" src="../static/images/course_logos/trig.png"><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-2/equations-and-inequalities" target="_blank">Equations and Inequalities</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-2/how-to-graph-functions-and-linear-equations" target="_blank">Graphings Functions and Linear Equations</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-2/how-to-solve-system-of-linear-equations" target="_blank">Solving Systems of Linear Equations</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-2/matrices" target="_blank">Matrices</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-2/polynomials-and-radical-expressions" target="_blank">Polynomials and Radical Expressions</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-2/quadratic-functions-and-inequalities" target="_blank">Quadratic Functions and Inequalities</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-2/conic-sections" target="_blank">Conic Sections</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-2/polynomial-functions" target="_blank">Polynomial Functions</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-2/rational-expressions" target="_blank">Rational Expressions</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-2/exponential-and-logarithmic-functions" target="_blank">Exponential and Logarithmic Functions</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-2/sequences-and-series" target="_blank">Sequences and Series</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-2/discrete-mathematics-and-probability" target="_blank">Discrete Mathematics and Probability</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="https://www.mathplanet.com/education/algebra-2/trigonometry" target="_blank">Trigonometry</a>
                <br>
                <br>
            </div>
            <br>
            <div id="preCalculus">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Pre-Calculus</h1>
                <img class="courseLogo" src="../static/images/course_logos/precalc.png"><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://precalculus.flippedmath.com/table-of-contents.html" target="_blank">Everything</a>
            </div>
            <br>
            <div id="calculusAB">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Calculus AB</h1>
                <img class="courseLogo" src="../static/images/course_logos/calcAB.png"><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcI/LimitsIntro.aspx" target="_blank">Limits</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcI/DerivativeIntro.aspx" target="_blank">Derivatives</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcI/DerivAppsIntro.aspx" target="_blank">Application of Derivatives</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcI/IntegralsIntro.aspx" target="_blank">Integrals</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcI/IntAppsIntro.aspx" target="_blank">Application of Integrals</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcI/IntAppsIntro.aspx" target="_blank">Proofs and Extras</a>
                <br>
                <br>
            </div>
            <br>
            <div id="calculusBC">
                <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Calculus BC</h1>
                <img class="courseLogo" src="../static/images/course_logos/calcBC.png"><br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcI/LimitsIntro.aspx" target="_blank">Limits</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcI/DerivativeIntro.aspx" target="_blank">Derivatives</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcI/DerivAppsIntro.aspx" target="_blank">Application of Derivatives</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcI/IntegralsIntro.aspx" target="_blank">Integrals</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcI/IntAppsIntro.aspx" target="_blank">Application of Integrals</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcII/IntTechIntro.aspx" target="_blank">Integration Techniques</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcII/IntAppsIntro.aspx" target="_blank">Advanced Application of Integrals</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcII/ParametricIntro.aspx" target="_blank">Parametric Equations and Polar Coordinates</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcII/SeriesIntro.aspx" target="_blank">Series and Sequences</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcII/VectorsIntro.aspx" target="_blank">Vectors</a>
                <br>
                <br>
                <a class="indent60px smokeText fontSize25px TimesNewRoman" href="http://tutorial.math.lamar.edu/Classes/CalcII/3DSpace.aspx" target="_blank">3-Dimensional Space</a>
                <br>
                <br>
            </div>
        </div>
    </body>
    <div class="footer"> <p class="standardText whiteText">© 2019 SCHULER SCHOLAR PROGRAM</p></div>
    <script src="../static/scripts/stickyNavBar.js"></script>
</html>