<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Physics Portal Page</title>
        <link rel="stylesheet" href="../static/portal.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../static/scripts/smoothScroll.js"></script>
        <link rel="stylesheet" href="../animsition/dist/css/animsition.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="../animsition/dist/js/animsition.min.js"></script>
        <script src="../static/scripts/animsition.js"></script>
        <link rel="shortcut icon" type="image/png" href="../static/images/schulerLogo.png">
    </head>
    <body class="greyBackground animsition">
        <div class="icon-bar">
            <a class="animsition-link" href="../index.html"><img class="homeToolBar" src="../static/images/schulerLogoBox.png"></a>
            <a class="toolBarLink animsition-link indent60px" href="../templates/PhysicsPortal.html"><img class="iconToolBar" src="../static/images/physics_alt.png"></a>
            <a class="animsition-link" href="../templates/MathPortal.html"><img class="iconToolBar" src="../static/images/math.png"></a>
            <a class="animsition-link" href="../templates/ChemistryPortal.html"><img class="iconToolBar" src="../static/images/chemistry.png"></a>
        </div>
        <br><br><br>
        <div>
            <div class="vertical-menu-physics floatLeft" id="navbar">
                <a href="#vectors">Vectors</a>
                <a href="#kinematics">Kinematics</a>
                <a href="#workAndEnergy">Work and Energy</a>
                <a href="#potentialEnergy">Potential Energy</a>
                <a href="#momentum">Momentum</a>
                <a href="#torque">Torque</a>
                <a href="#conservationOfEnergy">Conservation of Energy</a>
                <a href="#gravity">Gravity</a>
                <a href="#ForcesAndPulleys">Forces and Pulleys</a>
                <a href="#massesAndFriction">Masses and Friction</a>
                <a href="#circularMotion">Circular/Centripetal Motion</a>
                <a href="#staticEquilibrium">Static Equilibrium</a>
                <a href="#linVarRotVar">Linear Variables to Rotational Variables</a>
                <a href="#gravity">Gravity</a>
                <a href="#momentInertiaParallelAxis">Moment of Inertia Using Parallel Axis Theorem</a>
                <a href="#harmonicMotion">Simple Harmonic Motion</a>
                <a href="#circuitsParalSeries">Circuits - Parallel and Series</a>
                <a href="#electricalField">Electric Field and Electric Potential</a>
            </div>
            <div class="courseDiv">
                <div id="vectors">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Vectors</h1>
                    <img class="courseLogo" src="../static/images/course_logos/vector.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/Vectors_in_2D.html" target="_blank">Vectors in 2D</a>
                    <br>
                    <br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/Vectors_in_3D.html" target="_blank">Vectors in 3D</a>
                </div>
                <br>
                <div id="kinematics">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Applying the Kinematic Equations</h1>
                    <img class="courseLogo" src="../static/images/course_logos/equation.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/Applying_the_Kinematic_Equations.html" target="_blank">Applying the Kinematic Equations</a>
                </div>
                <br>
                <div id="workAndEnergy">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Work and Energy</h1>
                    <img class="courseLogo" src="../static/images/course_logos/workEnergy.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/work.html" target="_blank">Work</a>
                    <br>
                    <br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/WorkEnergyTheorem.html" target="_blank">Work-Energy Theorem</a>
                </div>
                <br>
                <div id="potentialEnergy">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Potential Energy</h1>
                    <img class="courseLogo" src="../static/images/course_logos/potential.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/ElasticPotentialEnergy.html" target="_blank">Elastic Potential Energy</a>
                    <br>
                    <br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/PotentialEnergyDiagrams.html" target="_blank">Potential Energy Diagrams</a>
                    <br>
                    <br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/ConservationEnergyPotentialKineticEnergyCertainHeight.html" target="_blank">Conservation of Energy - Potential and Kinetic Energy from a Certain Height</a>
                </div>
                <br>
                <div id="momentum">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Momentum</h1>
                    <img class="courseLogo" src="../static/images/course_logos/momentum.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/ConservationMomentum.html" target="_blank">Conservation of Momentum</a>
                    <br>
                    <br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/ConservationMomentumEnergy.html" target="_blank">Conservation of Momentum and Energy</a>
                </div>
                <br>
                <div id="torque">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Torque</h1>
                    <img class="courseLogo" src="../static/images/course_logos/torque.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/Torque.html" target="_blank">Torque</a>
                </div>
                <br>
                <div id="conservationOfEnergy">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Conservation of Energy</h1>
                    <img class="courseLogo" src="../static/images/course_logos/conservationEnergy.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/ConservationEnergyRollingObjects.html" target="_blank">Conservation of Energy and Rolling Objects</a>
                </div>
                <br>
                <div id="gravity">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Gravity</h1>
                    <img class="courseLogo" src="../static/images/course_logos/gravity.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/LawGravitation.html" target="_blank">Law of Gravitation</a>
                    <br>
                    <br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/GravitationEscapeSpeed.html" target="_blank">Gravitation- Escape Speed</a>
                </div>
                <br>
                <div id="ForcesAndPulleys">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Forces and Pulleys</h1>
                    <img class="courseLogo" src="../static/images/course_logos/pulley.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/ForcesandPulleys.html" target="_blank">Forces and Pulleys</a>
                </div>
                <br>
                <div id="massesAndFriction">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Masses and Friction</h1>
                    <img class="courseLogo" src="../static/images/course_logos/friction.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/MassesSlidingDownRamps.html" target="_blank">Masses Sliding Down Ramps With and Without Friction</a>
                </div>
                <br>
                <div id="circularMotion">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Circular Motion and Centripetal Acceleration</h1>
                    <img class="courseLogo" src="../static/images/course_logos/circularMotion.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/CircularAndCentripetalAcceleration.html" target="_blank">Uniform Circular Motion and Centripetal Acceleration</a>
                </div>
                <br>
                <div id="staticEquilibrium">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Static Equilibrium</h1>
                    <img class="courseLogo" src="../static/images/course_logos/equilibrium.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/StaticEquilibrium.html" target="_blank">Static Equilibrium</a>
                </div>
                <br>
                <div id="centerOfMass">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Center of Mass</h1>
                    <img class="courseLogo" src="../static/images/course_logos/centerMass.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/CenterOfMass.html" target="_blank">Center of Mass</a>
                </div>
                <br>
                <div id="linVarRotVar">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock inL">Linear Variables to Rotational Variables</h1>
                    <img class="courseLogo" src="../static/images/course_logos/rotVar.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/LinearVariablesRotationalVariables.html" target="_blank">Linear Variables to Rotational Variables</a>
                </div>
                <br>
                <div id="momentInertiaParallelAxis">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Moment of Inertia Using Parallel Axis Theorem</h1>
                    <img class="courseLogo" src="../static/images/course_logos/inertia.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/MomentInertiaUsingParallelAxisTheorem.html" target="_blank">Moment of Inertia Using Parallel Axis Theorem</a>
                </div>
                <br>
                <div id="harmonicMotion">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Simple Harmonic Motion</h1>
                    <img class="courseLogo" src="../static/images/course_logos/harmonic.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/SimpleHarmonicMotion.html" target="_blank">Simple Harmonic Motion</a>
                </div>
                <br>
                <div id="circuitsParalSeries">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Circuits - Parallel and Series</h1>
                    <img class="courseLogo" src="../static/images/course_logos/circuit.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/CircuitsParallelSeries.html" target="_blank">Circuits - Parallel and Series</a>
                </div>
                <br>
                <div id="electricalField">
                    <h1 class="indent40px purpleText fontSize25px TimesNewRoman inLineBlock">Electric Field and Electric Potential</h1>
                    <img class="courseLogo" src="../static/images/course_logos/electricity.png"><br>
                    <a class="indent60px smokeText fontSize25px TimesNewRoman" href="PhysicsTopics/ElectricFieldElectricPotential.html" target="_blank">Electric Field and Electric Potential</a>
                </div>
            </div>
        </div>
    </body>
</body>
<br>
<br>
<div class="footer">
    <p class="standardText whiteText">© 2019 SCHULER SCHOLAR PROGRAM</p>
</div>
<script src="../static/scripts/stickyNavBar.js"></script>
</html>